.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 16rem;
}

.particles {
  position: absolute;
  bottom: 0;
}

.logo {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 2rem;
}

.nft {
  position: relative;
  width: 7.75rem;
  height: 7.75rem;
  margin-bottom: 2rem;
}

.logoContainer {
  overflow: hidden;
  display: block;

  width: 100%;
  height: 100%;

  background-color: var(--push-token-bg);

  &:active .logoImg {
    transform: scale(0.96);
  }
}

.logoImgContainer {
  border-radius: 50%;
}

.logoNftContainer {
  border-radius: 22%;
}

.logoImg {
  width: 100%;
  height: 100%;
  transition: transform 150ms;
}
